[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.rar;application/x-rar;application/rar;application/x-rar-compressed;application/zip;
X-KDE-Priority=TopLevel
X-KDE-Submenu=QtRAR
Actions=Open;ExtractHere;ExtractTo;Test;

[Desktop Action Open]
Name=Abrir con QtRAR
Name[en]=Open with QtRAR
Exec=QtRAR -- %f

[Desktop Action ExtractHere]
Name=Extraer aquí
Name[en]=Extract Here
Exec=QtRAR --extract-here -- %f

[Desktop Action ExtractTo]
Name=Extraer en...
Name[en]=Extract to...
Exec=QtRAR --extract-to-dialog -- %f

[Desktop Action Test]
Name=Comprobar archivo
Name[en]=Test archive
Exec=QtRAR --test -- %f
